


.changeLife{
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 70px;
    
}
.changeLife img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    
}
.changeLife__textContainer{
    background-color: #F5E3CE;
    margin-top: -4px;
    border-radius: 0px 0px 5px 5px ;
    padding: 40px;
    
}

.changeLife__mainText{
    margin-bottom: 5px;
    color:#301934;
}


.changeLife__likeDislike{
    display: flex;
    justify-content: space-between;
    
    margin-top: 50px;
   
    font-size: 18px;
    

   
   
}

.changeLife__divLike{
    border: 2px solid #301934;
    border-radius: 10px;
    padding: 10px 10px;
    color:#301934;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    
}


.love{
   
    margin-top: 5px;
  

}









.changeLife__like{
    cursor: pointer;
    font-weight: 800;
     margin-right: 10px;
     margin-left: 10px;
     
   
  
   
   
 
    
}



.changeLife__divDislike{

    border: 2px solid #301934;
    border-radius: 10px;
    padding: 10px 10px;
    color:#301934;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
   
}


.changeLife__dislike{
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: 800;
    margin-left: 5px;
    color: i;   
    

}



.changeLife__addLike{
    color: black;
    padding-right: 20px;
    font-weight: 100;





    
    
}


.hate{
    margin-top: 5px;
}

