.whatPersonSay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
   
}

.whatPersonSay__image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
 
}

.whatPersonSay_textContainer{
  

}
.whatPersonSay__mainText{
    margin-top: 20px;
    text-align: center;

}

.whatPersonSay__subText{
    margin-top: 20px;
    text-align: center;
}
