.changesLives{
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.changesLives__headLine{
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
}


.changesLives__container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 80px;
    flex-wrap: wrap;
}


