.hero{
   background-color:antiquewhite;
}
    



.hero__container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__topText{
    margin-top: 100px;
    font-size: 25px;
    font-weight: 100;
    color:burlywood;
}
.hero__mainText{
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
}



   

.hero__rightWithImage{
    width: 100%;
    padding-left: 200px;
    margin-top: 50px;
}