.support__section{
  
    padding-top: 150px;
   
    
}

.support__sectionContainer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5E3CE;
    border-radius: 50px;
}
