

.subscribeForm{
background-color: #fff;
}


.subscribeForm__container{

  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#222326;
  
  background-repeat: no-repeat;
  background-size: cover;
  
  
  height: 100vh;
  margin-bottom: 80px;
  margin-top: 80px;
  font-family: Circular, Helvetica, Arial, sans-serif;
}
  





.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #F4F3F5;
	width: 945px;
	height: 474px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.subscribe__title {
	font-size: 48px;
    font-weight: 700;
    line-height: 60px;
   
    text-align: center;
    color: black;
}

.subscribe__copy {
	max-width: 450px;
	text-align: center;
	margin-bottom: 53px;
	line-height: 32px;
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.form {
	margin-bottom: 25px;
  
}

.form__email {
  appearance: button;
  background-color: white;
  background-image: none;
  border: 1px solid 	#353935;
  border-radius: 50px;
  box-shadow: #fff 4px 4px 0 0,	#353935 4px 4px 0 1px;
  box-sizing: border-box;
  color: #222326;
  cursor: pointer;
  display: inline-block;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 20px;
}

.form__email:focus {
	outline: 1px solid #028489;
}

.form__button {
  appearance: button;
  background-color: 	#222326;
  background-image: none;
  border: 1px solid 	#222326;
  border-radius: 50px;
  box-shadow: #fff 4px 4px 0 0,#222326 4px 4px 0 1px;
  box-sizing: border-box;
  color: pink;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.form__button:hover {
	box-shadow: 0 10px 20px #301934;
}

.notice {
	width: 345px;
}
.notice__copy{
  color:#353935;
}


input[type="checkbox" i] {
  background-color: initial;
  cursor:default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
  margin-right: 10px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}



@media only screen and (max-width: 600px) {
  .subscribeForm{
    
  
    overflow-x: hidden !important;
    margin-top: 70px;
 


  }

  .subscribeForm__container{
      
      flex-direction: column;
      width: 100%;
      overflow-x: hidden !important;
      margin-bottom: 0px;
      margin-top: 0px; 
   

    }
    .subscribe {
      box-shadow: none;
    }
 



    




}




