.supportCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.supportCard__image{
    height: 325px;
    width: 325px;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.supportCard__textContainer{
    text-align: center;
}
.supportCard__callToAction{
    padding-top: 20px;
}
.supportCard__subText{
    margin-top: 20px;
}

