.supportCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    border-radius: 10px;
    background-color: #F5E3CE;
    
    width: 500px;
    height: 600px;
}

.supportCard__image{
    height:300px;
    width: 300px;
    border-radius: 100%;
    margin-bottom: 20px;
   
}

.supportCard__textContainer{
    text-align: center;
}
.supportCard__callToAction{
    padding-top: 30px;
}
.supportCard__mainText{
    margin-top: 15px;
   
    
    

    
    
}



@media only screen and (max-width: 600px) {
    .supportCard{
        padding-bottom: 50px;


    }
}