.support__section{


  padding: 50px 0px 0px 0px;
   
    
}

.support__sectionContainer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#222326;
    

    border-radius: 25px;
    padding: 80px 0px;
   
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom right;

   
    
}





  @media only screen and (max-width: 600px) {
    .support__section{
      
 

     
      overflow-x: hidden !important;
   


    }

    .support__sectionContainer{
        
        flex-direction: column;
        width: 100%;
        overflow-x: hidden !important;
     
  
      }



      


  
  
  }



