.footer {
    background-color:	#581845;
    
  }

  .footer__container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 80px;
    padding-top: 80px;
    
    

  }

  .footerBottom__container{

    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding-bottom:50px ;
    color:#919496;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    

  }

  
  .footer__logo {
   width: 120px;
   margin-top: -50px;
  }

  .footer__title{

    line-height: 17px;
    font-weight: 900;
    letter-spacing: 0.5px;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    color:#919496;
    font-size: 16px;
    padding-bottom: 20px;
    
  }
  
  
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
    
  }

  .footer__ul li{
    text-align: center;
  }

  .footer__left{
    flex: 0.3;
  }

  .footer__navBarRight{
    display: flex;
    justify-content: space-around;
    flex: 0.7;
  }
  

  

  
  .footer__ul a {

    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;


}




@media only screen and (max-width: 600px) {
  .footer{
    
   overflow-x: hidden !important;
 


  }

  .footer__container{
      
      flex-direction: column;
      width: 100%;
      overflow-x: hidden !important;
   

    }

    .footerBottom__container{
      flex-direction: column;
      width: 100%;
      overflow-x: hidden !important;
    }
  }
  
  
  