


*, 
*::before, 
*::after{
    margin: 0px;
    padding:0px;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
  overflow-x: hidden;
  font-family: Circular, Helvetica, Arial, sans-serif;

}


