.changesLives{
    background-color: #ffffff;
    margin-top: 80px;
    margin-bottom: 80px;
    
}

.changesLives__headLine{
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
    color:#301934;
}


.changesLives__container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 80px;
    flex-wrap: wrap;
}



@media only screen and (max-width: 600px) {
    .changesLives{
      
      margin: 40px 20px;
      overflow-x: hidden !important;
   


    }

    .changesLives__container{
        flex-direction: column;
        width: 100%;
        overflow-x: hidden !important;



    }
        

  
      }



      


  
  
  

